@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Ubuntu&display=swap";

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$default_pink: rgb(247, 40, 175);
$var_pink: rgb(199, 74, 155);
$var2_pink: rgb(201, 28, 141);

$fonts: "Ubuntu", cursive;


/*
$verde_padrao: rgb(44, 242, 130);
$verde_var:rgb(33, 79, 50);
$verde_var2:rgb(33, 219, 114);

$azul_padrao:rgb(85, 250, 239);
$azul_var:rgb(61, 252, 240);

$roxo_padrao: rgb(211, 126, 217); 
*/
.img-size {
    width: 306px;
}

.fixed-size {
    width: 10rem;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    height: 0;
    padding-bottom: 25%;
    /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
    position: absolute !important;
    /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    /* Bootstrap handles width already */
    object-fit: contain;
    /* or 'contain' if you want stretch instead of crop */
}


.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    top: 0;
    bottom: 50px;
}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}


.slide-fade-enter-active {
    transition: all 1s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.neon-title {
    font-family: $fonts;
    animation: neon_logo 2.7s infinite;
}

.max-width{
    max-width: 50%;
}

@keyframes neon_logo {
    0%,
    100% {

        color: $default_pink;

        text-shadow:
            0 0 7px $var2_pink,
            0 0 10px $var2_pink,
            0 0 21px $var2_pink,
            0 0 42px $default_pink,
            0 0 82px $default_pink,
            0 0 92px $default_pink,
            0 0 102px $default_pink,
            0 0 151px $default_pink;
    }
    50% {

        color: $var2_pink;

        text-shadow: none;


    }
}


[data-bs-theme="dark"] .carousel .carousel-control-prev-icon, [data-bs-theme="dark"] .carousel .carousel-control-next-icon, [data-bs-theme="dark"].carousel .carousel-control-prev-icon, [data-bs-theme="dark"].carousel .carousel-control-next-icon {
    filter: none !important;
}